{% extends "bootstrap/base.html" %}

{% block title %}Romantic of Text Mining{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename='css/self.css') }}" rel="stylesheet" >
{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg text-primary flex-row-reverse">
  <div class="navbar-brand-bg">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">STARS Explorer</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Function
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('main.rank') }}">Rank</a>
          <a class="dropdown-item" href="{{ url_for('main.text_cloud') }}">Text Cloud</a>
          <a class="dropdown-item" href="{{ url_for('main.cos_sim') }}">Cos Similarity</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gallery
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Decision Tree A</a>
          <a class="dropdown-item" href="#">Decision Tree B</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Decision Tree C</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>

  {% block page_content %}{% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
