{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Romantic of Text Mining{% endblock %}

{% block page_content %}

<div class="container" style="margin:2% auto">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <p style="padding: 3em">
                <h1 class="text-primary" style="font-size:56px;">Text Cloud</h1>
                <div>Understanding different fields by text cloud</div>
                <a href="{{ url_for('main.text_cloud') }}" class="btn btn-primary">Check</a>
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="{{url_for('static', filename='result/result.png')}}" alt="Card image cap">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container" style="margin:2% auto">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <p style="padding: 3em">
                <h1 class="text-primary" style="font-size:56px;">Cos Similarity</h1>
                <div>Search contents in fields</div>
                <a href="{{ url_for('main.cos_sim') }}" class="btn btn-primary">Check</a>
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="{{url_for('static', filename='result/result.png')}}" alt="Card image cap">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<div class="container" style="margin:2% auto">
    <h1>Gallery</h1>
    <div class="card-group">
        <div class="card col-md-4">
            <img class="card-img-top img-responsive img-thumbnail" src="{{url_for('static', filename='result/result.png')}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-4">
            <img class="card-img-top img-responsive img-thumbnail" src="{{url_for('static', filename='result/result.png')}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-4">
            <img class="card-img-top img-responsive img-thumbnail" src="{{url_for('static', filename='result/result.png')}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}