{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Romantic of Text Mining{% endblock %}

{% block page_content %}
<div class="container" style="margin:2% auto">
    <div class="row field_section">
        <span class="category">Text Cloud</span>
        <h1 class="field_title">{{ field }}</h1>
    </div>
    <ul class="row">
        {% for level in text_cloud.get_textclouds_level() %}
            <li class="col-6">
                <div class="figure-card">
                    <img class="img-responsive" src="../static/result/{{ level }}.png" alt="Card image cap">
                    <div class="figure-card-title">{{ level }}</div>
                    <div class="tokens_quantity_section">
                        <scan class="var_tokens_quantity">word </scan>
                        <scan class="tokens_quantity">50</scan>
                    </div>
                </div>
            </li>
        {% endfor %}
        </div>
    </ul>
</div>

{% endblock %}