{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Romantic of Text Mining{% endblock %}
{% block page_content %}
<script src="../static/src/wordcloud2.js"></script>
<script src="../static/src/text_cloud.js"></script>
<div class="container" style="margin:2% auto">
    <div class="row field_section">
        <span class="category">Text Cloud</span>
        <h1 class="field_title">{{ field }}</h1>
    </div>
    <ul class="row">
        {% for level in text_cloud.get_textclouds_level() %}
            <div class="col-6 figure">
                <div class="figure-card">
                    <div id="canvas"></div>
                    <script>
                        const tagList = [
                            ['CSS', 12], 
                            ['Script', 6],
                            ['Com', 8],
                            ['AAA', 14],
                            ['VFDGV', 10],
                            ['Effogkifge', 120],
                            ['pofre', 1],
                            ['EIOJOjfew', 34],
                            ['Wjfpepf', 50]
                    ];
                        generate_text_cloud("canvas", tagList)
                    </script>
                    <div class="figure-card-title">{{ level }}</div>
                    <div class="tokens_quantity_section">
                        <scan class="var_tokens_quantity">word </scan>
                        <scan class="tokens_quantity">50</scan>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </ul>
</div>

{% endblock %}