{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Romantic of Text Mining{% endblock %}

{% block page_content %}
<div class="container main-content">
    <div class="container" style="margin:2% auto">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <p style="padding: 3em">
                    <h1 class="text-primary" style="font-size:56px;">
                        <a href="{{ url_for('main.text_cloud') }}" class="text-decoration-none">Text Cloud</a>
                    </h1>
                    <div class="index_function_content">Learn the key difference of the selected field in levels.</div>
                    <form method="POST" action="{{ url_for('main.text_cloud') }}" style="font-size: 1.5rem;">
                        {{ form.csrf_token }}
                        {{ form.field.label }} {{ form.field }}
                        {{ form.submit(class='btn btn-primary') }}
                    </form>
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="{{url_for('static', filename='result/result.png')}}" alt="Card image cap">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
{% endblock %}
