{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Romantic of Text Mining{% endblock %}

{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/js/d3.layout.cloud.js"></script>
    <script src="../static/js/text_cloud.js"></script>

    <script>
    var data = [
    {text: "Hello", value:6260},
    {text: "happy", value:5370},
    {text: "beautiful", value:2480},
    {text: "rainbow", value:4350},
    {text: "unicorn", value:1250},
    {text: "glitter", value:3140},
    {text: "happy", value:990},
    {text: "pie", value:4230}
];
    
    //width = getContentWidth("figure-card-container")
    //height = width*4/3
    text_cloud(data, "#demo1");
    </script>
{% endblock %}

{% block page_content %}
<div class="container" style="margin:2% auto">
    <div class="row field_section">
        <span class="category">Text Cloud</span>
        <h1 class="field_title">{{ field }}</h1>
    </div>
    <ul class="row">
        <svg id="demo1" style="height: 100vh; width: 100vw;"></svg>
        {% for level in text_cloud.get_textclouds_level() %}
            <div class="figure">
                <div class="row figure-card">
                    <div class="col-3">
                        <div class="figure-card-title">{{ level }}</div>
                        <div class="tokens_quantity_section">
                            <scan class="var_tokens_quantity">word </scan>
                            <scan class="tokens_quantity">50</scan>
                        </div>
                    </div>
                    <svg id="demo1"></svg>
                </div>
            </div>
        {% endfor %}
        </div>
    </ul>
</div>

{% endblock %}