{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Romantic of Text Mining{% endblock %}

{% block page_content %}
<div class="container main-content">
    <div class="container mt-4">
        <div class="func-figure-card row align-items-center">
            <div class="col-md-4 d-flex justify-content-center">
                <img class="img-responsive func_index" src="{{url_for('static', filename='assets/cloud-svgrepo-com.svg')}}" alt="Card image cap">
            </div>
            <div class="col-md-8 ps-4">
                <p class="align-self-center p-3">
                    <h1 class="text-primary" style="font-size:56px;">
                        <a href="{{ url_for('main.text_cloud') }}" class="text-decoration-none">Text Cloud</a>
                    </h1>
                    <div class="index_function_content">Learn the key difference of the selected field in levels.</div>
                    <form method="POST" action="{{ url_for('main.text_cloud') }}" style="font-size: 1.5rem;">
                        {{ form.csrf_token }}
                        {{ form.field.label }} {{ form.field }}
                        {{ form.submit(class='btn btn-primary') }}
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
